@-webkit-keyframes terminal-smooth {
	0%, 100% {
		left: 0;
		color: #0c0;
		color: var(--original-color, #aaa);
		background-color: #000;
		background-color: var(--background, #000);
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	50% {
		left: 0;
		color: #000;
		background: #0c0;
		-webkit-box-shadow: 0 0 5px var(--color, #aaa);
		box-shadow: 0 0 5px var(--color, #aaa);
		border: none;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid transparent;
	}
}

@-moz-keyframes terminal-smooth {
	0%, 100% {
		left: 0;
		color: #0c0;
		color: var(--original-color, #aaa);
		background-color: #000;
		background-color: var(--background, #000);
		-moz-box-shadow: none;
		box-shadow: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	50% {
		left: 0;
		color: #000;
		background: #0c0;
		-mox-box-shadow: 0 0 5px var(--color, #aaa);
		box-shadow: 0 0 5px var(--color, #aaa);
		border: none;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid transparent;
	}
}

@keyframes terminal-smooth {
	0%, 100% {
		left: 0;
		color: #0c0;
		color: var(--original-color, #aaa);
		background-color: #000;
		background-color: var(--background, #000);
		-webkit-box-shadow: none;
		box-shadow: none;
		border: none;
		padding: 0;
		margin: 0;
	}

	50% {
		left: 0;
		color: #000;
		background: #0c0;
		-webkit-box-shadow: 0 0 5px var(--color, #aaa);
		box-shadow: 0 0 5px var(--color, #aaa);
		border: none;
		padding: 0;
		margin: 0;
		border-bottom: 2px solid transparent;
	}
}

.terminal {
	--background: #000;
	--color: #0c0;
	--animation: terminal-smooth;
	text-shadow: 0 0 3px rgba(0,100,0,0.5);
}
/* below can be removed in version >= 2.1.0 */
.cmd .cursor-line {
	overflow: visible;
}

/*https://codepen.io/anon/pen/pYvYqL?editors=0010*/
body .shell {
	width: 800px;
	height: 600px;
}

	body .shell .terminal {
		height: calc(100% - 29px);
		padding: 10px;
		/*
     * padding bottom 0 on terminal and margin
     * on .cmd will be in version 2.0.1
     * that fixes FireFox issue
     */
		padding-bottom: 0;
	}

		body .shell .terminal .cmd {
			margin-bottom: 10px;
		}

.shell .typed-cursor, .shell .cursor {
	background: transparent;
}

.shell > .status-bar .title {
	cursor: move;
}
/*
 * fix to shell.js to center title to free space
 */
.shell.windows .status-bar .title {
	right: 106px;
}

@supports (--css: variables) {
	.shell .terminal {
		/*--color: #aaa;*/
	}

	.shell.ubuntu .terminal {
		--background: #300924;
	}

	.shell.osx .content.terminal {
		--background: #222;
	}

	.shell.light .content.terminal {
		--background: white;
		--color: black;
	}
	/*
    * windows and custom are the last ones so
    * they don't get overwritten by light
    */
	.shell.windows .content.terminal {
		--background: black;
		--color: white;
		--animation: terminal-underline;
	}

	.shell.custom .content.terminal {
		--background: #292929;
		--color: #aaa;
	}
}
/*
 * overwrite shell.js style because shell.js   
 * selectors are stronger then terminal ones
 */
.cmd span.cursor {
	animation: none;
	width: auto;
	background-color: var(--background, #000);
}

.shell terminal.content,
.shell.osx.dark .content,
.shell.ubuntu .content {
	background-color: var(--background, #222) !important;
}

.shell .terminal.content {
	font-size: 12px;
}

.cmd {
	background-color: inherit;
}

@supports (--css: variables) {
	.shell .terminal.content {
		font-size: calc(var(--size, 1) * 12px);
	}
}
/* fix for Firefox */
.terminal > .resizer, .terminal > .font .resizer {
	visibility: visible;
	pointer-events: none;
}

.terminal::-webkit-scrollbar-track {
	border: 1px solid var(--color, #aaa);
	background-color: var(--background);
}

.terminal::-webkit-scrollbar {
	width: 10px;
	background-color: var(--background);
}

.terminal::-webkit-scrollbar-thumb {
	background-color: var(--color, #aaa);
}

.resizable-term {
	resize: both;
}
